<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
  <% if(typeof(title) != 'undefined' && title === 'Reactivate') { %>
    <style>
      body {
        background-image: linear-gradient(transparent 50%, rgb(226 169 169 / 50%) 50%);
        background-size: 1px 4px;
      }
    </style>
  <% } %>
</head>

<body>
  <!-- TODO: reactive style if title == 'reactivate' -->
  <div id="upper_left" class="svg"></div>
  <div id="upper_right" class="svg"></div>
  <!-- <div id="lower_left"></div> -->
  <div id="lower_right" class="svg"></div>
  <div class="container">

    <%- include('partials/navbar'); %>

    <h1>
      <%= title %>
    </h1>
    <p>Posted by:
    </p>
    <img id='avatar' width="80" height="80" alt="User">
    <% for (var i=0; data.tags && data.tags.length > 0 && i < data.tags.length ; i++) { %>
      <a href="/tag/<%- data.tags[i] %>"><span class="badge bg-secondary"><%- data.tags[i] %></span></a>
    <% } %>
    <% if (data.undraw) { %>
      <div id="undraw-output">
        <img class="svg2" src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/<%= data.undraw.split('#')[0]+'.svg' %>" alt="<%= data.undraw.split('#')[0] %>" style="width: 40rem;">
      </div>
    <% } %>
    
    <div id="font-picker"></div>
    <% if (data.title && data.desc) { %>
      <h2><%= data.title.charAt(0).toUpperCase() + data.title.slice(1) %></h2>
      <p class="apply-font"><%- data.desc %></p>
      <% if (data.section == 'donations') { %>
        <div id="listing-map" ></div>
      <% } %>
      <br>
      <hr>
      <img id="imgg" src="<%- data.img %>" width="200rem"> 
      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>
      <% if (data.pass) { %>
        <p>Your listing has been added. Wait for admin approval. Only with this password <code><%- data.pass %></code> you could deactivate this listing. Please keep it safe.</p>
      <% } %>

      <form action="contact" method="POST">
        <div>
          <label for="message">Send a message to the announcer (your email will be transmitted)</label>
          <input name="message" id="message" value="blablablac c cccccccscs">
        </div>
        <div>
          <!-- <label for="description">What description do you want to say?</label> -->
          <input name="id" value="<%= data.id %>" type="hidden" >
        </div>
        <br>
        <div>
          <button>Send</button>
        </div>
      </form>
      <% if(typeof(title) != 'undefined' && title !== 'Reactivate') { %>
        <div class="jumbotron bg-light">
          <h2>Deactivate</h2>
          <form action="deactivate" method="POST">
            <div>
              <label for="password">You need the password for the announcement</label>
              <input name="password" id="password" value="password..." type="password">
            </div>
            <br>
            <div>
              <button>Deactivate</button>
            </div>
          </form>
        </div>
      <% } %>
    <% } %>

    <% if(typeof(title) != 'undefined' && title === 'Reactivate') { %>
      <div class="jumbotron bg-light">
        <h2>Reactivate</h2>
        <form action="/listings/reactivate" method="POST">
          <div>
            <label for="password">You need the password for the announcement</label>
            <input name="password" id="password" value="password..." type="password">
          </div>
          <br>
          <div>
            <button>Reactivate</button>
          </div>
        </form>
      </div>
    <% } %>

  <%- include('partials/prepare_js_variables'); %>
  <%- include('partials/footer'); %>
  </div>

  
</body>
<%- include('partials/afterbody'); %>
<script>
  {
    const scriptElement = document.createElement("script")
    scriptElement.src = "/javascripts/listing.js"
    document.body.appendChild(scriptElement)
  }
</script>
</html>